<section class="share">
    <h3>Acompanhe nas redes</h3>
    <a href="https://github.com/{{ site.github_username }}/conferencias-dev" title="GitHub">
        <svg class="icon icon-github">
            <use xlink:href="#icon-github"></use>
        </svg>
    </a>

    <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
        <svg class="icon icon-twitter">
            <use xlink:href="#icon-twitter"></use>
        </svg>
    </a>

    <a href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
        <svg class="icon icon-facebook">
            <use xlink:href="#icon-facebook"></use>
        </svg>
    </a>


</section>
