<section class="share">
    <h3>Siga-nos por aqui também 👇</h3>
    <a href="https://github.com/conferencias-dev/conferencias-dev" title="GitHub">
        <svg class="icon icon-github">
            <use xlink:href="#icon-github"></use>
        </svg>
    </a>

    <a href="https://twitter.com/conferenciasdev" title="Twitter">
        <svg class="icon icon-twitter">
            <use xlink:href="#icon-twitter"></use>
        </svg>
    </a>

    <a href="https://www.facebook.com/conferencias.dev" title="Facebook">
        <svg class="icon icon-facebook">
            <use xlink:href="#icon-facebook"></use>
        </svg>
    </a>


</section>
